{% load static %}
{% load permission_tags %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/StyleAboutus.css' %}">
    {% if title %}
    <title>Tricalidee - {{ title }}</title>
    {% else %}
    <title>Tricalidee</title>
    {% endif %}

  </head>

  <body>
      <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/"><img class="rounded-circle article-img" src="{% static 'blog/Logo.png' %}" alt="" ></a>
        <a class="navbar-brand mr-4" href="/">Tricalidee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/admin">Admin</a>

          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
              {% if user.profile.approved_user %}
                  {% if user|has_role:'admin,author' %}
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                  {% endif %}
                  {% if user|has_role:'author' %}
                    <a class="nav-item nav-link" href="{% url 'my_posts' user.id %}">My posts</a>
                  {% endif %}
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                  <a class="nav-item nav-link" href="{% url 'questions' %}">Forum</a>
              {% endif %}
                  <a class="nav-item nav-link" href="/contact">Contact Us</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

  </header>
  <div class="divider">
     <img src="{% static 'media/banner.jpg' %}" alt="" height="500" width=100%>
  </div>


  <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">


          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>

        <div class="col-md-4">
          <!-- Search Bar -->
          <p><br></p>
        <div class="search-bar">
          <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
       <div class="form-group">
         <input type="text" name="q" placeholder="Search" class="form-control mr-sm-2" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </div>
     </form>
     <p></p>
</div>
        <div class="tags content-section">

            <div class="tags-title">Tags:</div>
            <div class="tags-elements">
              {% for tag in tags %}
                  <a href="{% url 'get_posts_by_tag' tag.title %}">{{ tag }}</a>
                  {% empty %}
              {% endfor %}
            </div>
            <br>
          </div>
          <div class="col-md-4">

              </div>
          {% if user|has_role:'admin' %}
          <div class="tags-title">Pending accounts:</div>
            <div class="content-section">
              <header>
                  <div>
                    <Request>
                      {% for profile in newprofiles %}
                        <div class="content-section">
                          <a href="#">{{ profile }} </a>
                          <small class="text-muted">{{ profile.type }} </small><br>
                          <a class="btn btn-danger btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile_remove' pk=profile.pk %}">
                              <span class="fa fa-remove">Remove</span>
                          </a>
                          <a class="btn btn-success btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile_approve' pk=profile.pk %}">
                              <span class="fa fa-check">Approve</span>
                          </a>
                        </div><br>
                      {% empty %}
                      {% endfor %}
                    </Request>
                  </div>
              </header>
            </div>
        <div class="tags-title">Roles requests:</div>
            <div class="content-section">
                <header>
                    <div>
                        <Request>
                            {% for profile in pending_rolesprofiles %}
                                <div class="content-section">
                                Role <a href="#"> {{ profile.new_type }} </a> -
                                <small class="text-muted">{{ profile.user.username }} ({{ profile.type }}) </small><br>
                                <a class="btn btn-danger btn-secondary btn-sm mt-1 mb-1" href="{% url 'role_remove' pk=profile.pk %}">
                                    <span class="fa fa-remove">Decline</span>
                                </a>
                                <a class="btn btn-success btn-secondary btn-sm mt-1 mb-1" href="{% url 'role_approve' pk=profile.pk %}">
                                    <span class="fa fa-check">Approve</span>
                                </a>
                                </div>
                            {% empty %}
                            {% endfor %}
                        </Request>
                    </div>
                </header>
            </div>
        </div>
      </div>
          {% else %}
          <div class="content-section">
            <h3 style="text-align:center;"><br>
            Imagination is better than Knowledge.
            </h3><br>
          </div>
          <div class="content-section">
            <h3 style="text-align:center;"><br>
            Gaining Knowledge, is the first step to wisdom.
              Sharing it, is the first step to Humanity.
            </h3><br>
          </div>
          <div class="content-section">
            <h3 style="text-align:center;"><br>
            If you want to shine<br> like the sun. <br> First burn like
          the <br> Sun.

            </h3><br>
          </div>
          {% endif %}

      </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
