{% extends "blog/base.html" %}
{% block content %}
<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
    <a href="{% url 'newest'  %}">Newest</a>
    <a href="{% url 'oldest'  %}">Oldest</a>
  </div>
</div>
  {% for post in posts %}
      <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.Author.profile.image.url }}" alt="">

      <div class="media-body ">
        <div class="grid-article">

          <div class="">
              <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.Title }}</a></h3>
              <h5><p>{{ post.Content|truncatewords_html:15 }}</p></h5>
            <div id="article" class="article-metadata">
              <a class="mr-2" href="#">{{ post.Author }}</a><br>
             <small class="text-muted"> Published {{ post.time_of_publishment|date:"F d, Y"}}</small>
            </div>
            <!-- Tags -->
            {% if post.tags.all|length > 0 %}

            <div class="article-tag content-section">

                <div class="post-tags">
                  {% for tag in post.tags.all %}
                  <a href="{% url 'post-detail' post.id %}" class="tag">{{ tag }}</a>
                  {% endfor %}
                </div>
            </div>
            {% endif %}
          </div>
          <!-- Teaser Image -->
          <div class="img-article" style="background:url({{ post.thumb.url }});background-size:cover;background-position:center;cursor: pointer;" onclick="window.location='{% url 'post-detail' post.id %}';"> 
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
  <div class="pagination">
      <div class="first">
        {% if posts.has_previous %}
          <a class="btn btn-outline-info mb-4 first" href="?page=1">First</a>
        {% endif %}
      </div>
      <div class="middlegrid">
          {% if posts.has_previous %}
            <a class="btn btn-outline-info mb-4"href="?page={{ posts.previous_page_number}}">Previous</a>
          {% endif %}
          {% for num in posts.paginator.page_range %}
              {% if posts.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > posts.number|add:'-3' and num < posts.number|add:'-3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
          {% endfor %}

          {% if posts.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}">Next</a>
          {% endif %}
      </div>
      <div class="last">
          {% if posts.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}">Last</a>
          {% endif %}
      </div>
    </div>
{% endblock content %}
